# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.swp
package-lock.json
__pycache__
.pyc
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version
.venv/

.idea/
**/.DS_Store
.DS_Store
dependencies/